.item-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-layout {
    width: 90%;
    max-width: 1100px;
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

/* ●左画像 */
.item-image-box {
    width: 50%;
}

.item-image {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}


/* ●右商品情報 */
.item-info {
    width: 50%;
}

.item-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 12px;
}

.item-price {
    font-size: 30px;
    font-weight: bold;
    color: #ff1a30;
    margin-bottom: 18px;
}

.purchase-btn {
    display: block;
    background: #ff4d4d;
    padding: 14px 5px;
    text-align: center;
    color: white;
    border-radius: 6px;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.purchase-btn:hover {
    filter: brightness(92%);
}


/* ● コメントブロック */
.comment-area {
    width: 90%;
    max-width: 1100px;
    margin-top: 60px;
}

.comment-block {
    margin-bottom: 16px;
    padding: 10px;
    background: #fafafa;
    border-radius: 6px;
}

.comment-input {
    width: 100%;
    height: 80px;
    padding: 15px;
    border: 1px solid #ddd;
}

.comment-btn {
    width: 100%;
    padding: 12px;
    background: black;
    color: white;
    margin-top: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    aspect-ratio: 1/1;
    object-fit: cover;
}